<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta placeat, molestiae ducimus nobis iste cupiditate iure illum optio blanditiis unde autem voluptate quas ex obcaecati. Saepe quia nobis praesentium magni?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit magni ut maxime aliquam totam quia, obcaecati enim dolores! Perspiciatis magnam, aliquam odit esse quas quidem quasi placeat voluptatem harum ipsam.</p>
</div>